<% layout('layouts/boilerplate') %>
<!-- <div class="row">
  <form action="/show" method="POST" class="mt-4 mb-4">
    <div class="content">
      <input type="text" class="form-control" name="content" placeholder="TODOを入力">
      <button class="btn btn-light m">追加</button>
    </div>
  </form>
</div> -->
<div class="row">
  <% for(let list of alllists) { %>
    <% if(currentUser && list.author.equals(currentUser._id)) { %>
      <div class="card mb-5 rounded-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title mt-1 mb-1">
            <form class="title-text" method="POST" action="/show/listedit/<%= list._id %>?_method=PATCH">
              <input class="titleform form-control" type="text" name="listTitle" value="<%= list.listTitle %>"> 
            </form>
          </h5>
        </div>
        <ul class="list-group list-group-flush inline">
          <% for(let todolist of list.card) { %>
            <li class="mt-1 mb-1 list-group-item rounded-4">
              <form class="todo-text" method="POST" action="/show/cardedit/<%= list._id %>/<%= todolist._id %>?_method=PATCH">
                <input class="textform form-control" type="text" name="content" value="<%= todolist.content %>"> 
              </form>
              <div class="submit">
                <form class="done-form" action="/show/<%= list._id %>/<%= todolist._id %>">
                  <button class="btn btn-light">完了</button>
                </form>
              </div>
            </li>
          <% } %> 
        </ul>
        <div>
          <form class="col-6" action="/show/<%= list._id %>/add">
            <button class="btn btn-primary mt-2">カードを追加</button>
          </form>
          <form class="delete-button" method="POST" action="/show/listdelete/<%= list._id %>?_method=DELETE">
            <button class="btn btn-light rounded-circle mt-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg></button>
          </form>
        </div>
        <!-- <div>
          <button class="btn btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16"    height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
              <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
            </svg>
          </button>
        </div> -->
      </div>
    <% } %> 
  <% } %> 
  <div class="button">
    <form action="/show/add">
      <button class="btn btn-light rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
    </form>
  </div>
  <div class="card mb-5 rounded-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title f mt-1 mb-1">完了したタスク</h5>
    </div>
    <ul class="list-group list-group-flush inline">
      <% for(let donetodo of donetodos) { %>
        <% if(currentUser && donetodo.author.equals(currentUser._id)) { %>
          <li class="mt-1 mb-1 list-group-item rounded-4">
            <form class="todo-text" method="POST" action="/show/<%= donetodo._id %>?_method=PATCH">
              <input class="form-control textform" type="text" name="content" value="<%= donetodo.content %>"> 
            </form>
            <div class="submit">
              <form class="delete-form" method="POST" action="/show/carddelete/<%= donetodo._id %>?_method=DELETE">
                <button class="btn btn-light">削除</button>
              </form>
            </div>
            <!-- 不要になった戻すボタン<div class="submit">
              <form class="return-form" action="/show/<%= donetodo._id %>/return">
                <button class="btn btn-light">戻す</button>
              </form>
            </div> -->
          </li>
        <% } %>
      <% } %>
    </ul>
  </div>
</div>
